  div.footer {
    margin-top: 25px;
    width: 100%;
    height: 970px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;
  }
  div.footer > div.icon {
    width: 95%;
    height: 6%;
    display: flex;
    justify-content: space-between;
  }
  div.footer > div.icon > * {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  div.footer > div.icon > div.logo > img {
    width: 60%;
    height: 100%;
    object-fit: contain;
  }
  div.footer > div.icon > div.box > div.top {
    width: 90%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.footer > div.icon > div.box > div.top > a {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #e0e0e2;
    border-radius: 15px;
    scroll-behavior: smooth;
  }
  div.footer > div.icon > div.box > div.top > a > p {
    font-size: 12px;
    font-weight: 700;
    color: #ada3a8;
  }
  div.footer > div.icon > div.box > div.top > a > img {
    margin-right: 10px;
    object-fit: contain;
  }
  div.footer > div.about {
    width: 95%;
    height: 5vh;
    margin-top: 5px;
    display: flex;
    align-items: center;
  }
  div.footer > div.about > div {
    width: 1px;
    height: 20px;
    background-color: rgb(161, 163, 168);
    margin: 0 20px;
  }
  div.footer > div.about > p {
    color: rgb(63, 64, 100);
    font-size: 12px;
    font-weight: 400;
  }
  div.footer > div.box {
    width: 90%;
    height: 30vh;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  div.footer > div.box > div.item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.footer > div.box > div.item > div.logo {
    width: 75%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
  div.footer > div.box > div.item > div.logo > img {
    width: 80%;
    height: 68%;
    object-fit: contain;
  }
  div.footer > div.box > div.item > div.logo > h5 {
    width: 80%;
    font-size: 11px;
    font-weight: 400;
    color: rgb(63, 64, 100);
    text-align: center;
  }
