
  section.baner2 {
    width: 100%;
    height: 48vh;
    margin-top: 45px;
    display: flex;
    justify-content: center;
  }
  section.baner2 > div.baner2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  section.baner2 > div.baner2 > div.box {
    width: 48%;
    height: 90%;
    border-radius: 15px;
  }
  section.baner2 > div.baner2 > div.box > a {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 15px;
  }
  section.baner2 > div.baner2 > div.box > a > img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

